<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.


# Print the 4th animal on the list.


# Add 'tortoise' to the beginning of the list.


# Print the length of the list.


# Remove 'orangutan' from the list.


# Sort the list alphabetically and print it out.



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = None

# Print the 3rd name on the list



# Delete the first name on the list



# Re-add the name you deleted to the end of the list



# Replace the 2nd name on the list with a new name.



# Add 3 new names to the end of the list.



### P3.PY

In [0]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = None

# Print the max of `numbers`.


# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.



# Pop the second number in `numbers` off.



# Append `3` to `numbers`.



# Print out the average number.



## SORTING

### P1.PY

In [0]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.



# Now do the reverse.



### P2.PY

In [0]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

## LIST MANIPULATION

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'



### P2.PY

In [0]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]


# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = None


# B) Combine the two given lists and assign them to list4.
list4 = None


# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:2] = None

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = None


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

## LIST CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]



### P2.PY

In [0]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]


# Once you finish, print out each value **on its own line** in this format: "median = " etc.