<a href="https://colab.research.google.com/github/mottaquikarim/pycontent/blob/master/content/psets/wrangling_pset2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Earth Surface Temperature by City from 1743-2013

#### Data Dictionary:

This is a "...[repackaging] the data from a newer compilation put together by the Berkeley Earth, which is affiliated with Lawrence Berkeley National Laboratory. The Berkeley Earth Surface Temperature Study combines 1.6 billion temperature reports from 16 pre-existing archives."

"Early data was collected by technicians using mercury thermometers, where any variation in the visit time impacted measurements. In the 1940s, the construction of airports caused many weather stations to be moved. In the 1980s, there was a move to electronic thermometers that are said to have a cooling bias."

* `dt`: Date of temperature observation in format "YYYY-MM-DD"; ranges from 1743-2013
* `AverageTemperature`: in degrees Celsius
* `City`
* `Country`
* `Latitude`
* `Longitude`

**Source**: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

### Section 1

#### 1. Import the necessary libraries. Load the data from the link below and save it to a df called "landTemps". Hint: You'll need to pass compression='zip'.

In [0]:
# https://pythondatasets.s3.us-east-2.amazonaws.com/sample_global_temps.csv.zip

#### 2. Rename these columns...

* dt to Date
* AverageTemperature to AvgTemp
* Latitude to Lat
* Longitude to Long

#### 3. Sort by Date (early to recent), then Country (alphabetical), then AvgTemp (high to low).

#### 4. How many unique cities are there?

#### 5. Remove rows with null values for AvgTemp from the landTemps df then drop and reset the index.

### Section 2

#### 6. Use .map() to create a custom record id by adding the letters "rec" in front of the index position of each row. Then set this as the index of the landTemps df.

#### 7. Return the records for the SE quarter of the globe.

#### 8. Convert the latitude values to their numeric equivalents using s.apply().

#### 9. Convert the longitude values to their numeric equivalents using s.apply().

#### 10. Return the records for the NW quarter of the globe.

#### 11. Save the landTemps df to a file called "sample_global_temps_clean.csv.zip". 
Hints: Don't forget how to compress it and that you need to pass info about the custom index.

#### 12. How many Chinese cities are represented and what are they? How many records are there for each Chinese city in the df?

#### 13. Return all the records from November 1843 & November 1943 for Afghanistan.

#### 14. Return all the records for areas within 10 degrees of the equator (inclusive).

### Section 3

#### 15. Return all the records from cities in the US, and save them in a new df called usa.

#### 16. Sort usa by Date then alphabetically by City.

#### 17. Convert all the temperatures in the usa df to degrees Fahrenheit. Try it with both map and apply.

### Section 4

#### 18. Create a new df that contains only records from the below cities and call it sampleA:


* Tangiers
* Dhaka
* Zwolle
* Edmonton
* Dunedin
* Peking
* Pune

#### 19. *For only the sampleA df,* separate the "Date" column into 3 new columns called "Year", "Month", and "Day", using df.apply().
(p.s. keep the original "Date" column as well)

#### 20. Return all the records between 1900 and 2000 for countries greater than 10 degrees away from the equator.