<a href="https://colab.research.google.com/github/mottaquikarim/pycontent/blob/master/content/psets/wrangling_pset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Earth Surface Temperature by City from 1743-2014

#### Data Dictionary:

This is a "...[repackaging] the data from a newer compilation put together by the Berkeley Earth, which is affiliated with Lawrence Berkeley National Laboratory. The Berkeley Earth Surface Temperature Study combines 1.6 billion temperature reports from 16 pre-existing archives."

"Early data was collected by technicians using mercury thermometers, where any variation in the visit time impacted measurements. In the 1940s, the construction of airports caused many weather stations to be moved. In the 1980s, there was a move to electronic thermometers that are said to have a cooling bias."

* `dt`: Date of temperature observation in format "YYYY-MM-DD"; ranges from 1743-2013
* `AverageTemperature`: in degress Celsius
* `AverageTemperatureUncertainty`: the 95% confidence interval around the average
* `City`
* `Country`
* `Latitude`
* `Longitude`

**Source**: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

#### 1. Import the necessary libraries. Load the data into a df called "landTemps" and preview it.

The link below leads to a zip file. You'll have to download it, unzip it, and then upload the unzipped CSV into your Colab notebook. To do so, click on the folder icon in the leftand menu, and you'll find the upload button.

https://drive.google.com/open?id=1jDD8KBPFa61GR0FFjj-QXgYRlDn-UuvJ

#### 2. How many total records are there in the df? Save this to a variable

#### 3. What data type fills the dt column?

#### 4. Rename the dt and AverageTemperature columns to Date and AvgTemp respectively.

#### 5. What countries are represented? Save them in a Series called "country_names" and sort alphabetically.

#### 6. Drop the "Latitude" and "Longitude" columns.

#### 7. How many duplicate rows are there?
p.s. Why do you think these exist?

#### 8. Drop the duplicate rows from this version of the landTemps df.

#### 9. How many records are there for Venezuela?

#### 10. How many null values are there for AvgTemp?

#### 11. **Using filtering techniques**, return the dataframe such that only rows with valid temperatures are included.

#### 12. What percent of the original df records is left?

#### 13. Sort by AvgTemp low to high

#### 14. Look at the rows with the 25 highest and lowest recorded temperatures.

#### 15. Sort by Date (early to recent), then Country (alphabetical), then AvgTemp (high to low).

#### 16. Reset the index of the df.

#### 17. Return all the records from the year 1823.

#### 18. Return all the records with temperatures above 12 degrees.